*{
    margin: 0;
    padding: 0;
}

/*fonts*/

@font-face {
    font-family: Lato;
    src: url(./fonts/Lato-Light.ttf)
}

  @font-face {
    font-family: 'Crimson Pro';
    src: url(./fonts/CrimsonPro-VariableFont_wght.ttf)
}


body{
    background-color: #D9CDF7;
}

/* Auto layout */
.description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    padding: 0px;
    gap: 10px;

    width: 400px;
    height: 100vh;

}


/* CÓDIGO: 42404 */
.description .cod{
    width: 75px;
    height: 10px;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 100%;
    color: #271A45;
}


/* Sofá Margot II - Rosé */

.description .title{
    width: 300px;
    height: 32px;

    font-family: 'Crimson Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 100%;
    color: #271A45;
}

/* R$ 4.000 */

.description .price{
    width: 65px;
    height: 16px;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #271A45;

}

/* Button */

.description button{
    box-sizing: border-box;
    
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    gap: 8px;
    width: 170px;
    height: 32px;

    border: 0.5px solid #271A45;
    border-radius: 999px;

    background-color: #D9CDF7;
    
}

.description button p {
    /* aDICIONAR À CESTA */
    height: 16px;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height, or 133% */

    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;

    color: #271A45;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}



/* Vector */

.vector{
    border:none;
    float: right;
    margin-right: 70px ;
    background-color: rgba(0, 0, 0, 0);

}

@media (max-width: 994px){
    .description{
        height: 50%;
        width: auto;
    }

    .col .image img{
        margin-top: 100px;
    }

    body{
        margin-top: 200px
    }

    .vector{
        margin-right: 250px;
        position: static;

    }


}

@media (max-width: 770px){
    .vector{
        margin-right: 100px;
        position: static;

    }

    .description{
        margin-left: 100px;
    }

}
